{% extends "blog/entry-template.html" %}

{% block content %}
<p>
    This was originally on my old site, but on Feb. 03 2021 I re-published it on my new platform.
</p>
<hr>
<p>
    When I was a young child at a friend's house, I was wrapping up a quick
    conversation on the phone with my parents when I said <b>chau</b>. I forgot who it was, and I'm sure I can conjure up
    an almost certainly false image of who it was in my head, but instead I'll just say it was
    a generic adult. They heard me say <b>chau</b> which exclusively means bye
    (derived from <b>ciao</b>),
    but they heard <b>ciao</b> because they said "isn't ciao an Italian word? and weren't you
    speaking Spanish?"
    I didn't know how to respond.
</p>
<p>
    In hindsight, they were most likely expression genuine curiosity. However, as a child
    it seemed snarky. It felt like they were claiming that I was wrong to have used
    that word, except that I had always used this word--and so had everyone else when I was
    growing up. It was <em>the</em> word to use when
    ending a conversation or leaving. There was no word like it, well, I guess there was
    <b>adiós</b> but no one ever said it. You would understand when someone said it but
    you'd never personally say it. Just like you would never say "you're sister's outfit is
    very provocative today" if their sister was wearing a meat dress and you were a vegan who knew
    this was a deliberate act to annoy you. So here was my livelihood, my way of life, being
    challenged on an unsuspecting Tuesday. And so I just shrugged, and she returned a very
    specific look. A facial expression that to this very day I remember as the
    "quit appropriating Italian culture" look.
</p>
{% endblock %}