{% extends "blog/entry-template.html" %}

{% block content %}
<p>I didn't give much thought to how users of other languages used keyboards until I started to learn languages drastically
different from my own. I first learned to use a computer on a QWERTY keyboard, except there's the extra key for n^~ to the
right of l. Obviously it was fairly easy to adapt to a QWERTY en-US keyboard. Using software Esperanto keyboards exposed me
    to some of the methods of adding diacritics to base letters, but it wasn't until I started learning
Vietnamese and Chinese that I realized how different input methods can be. This has deep implications for software projects
as I've learned while working on side-projects, and there will be another post to discuss these effects, however
this post aims to be non-technical. </p>
<p>To start, let's focus on English. Now for English we have many different layouts. The most common one is QWERTY,
named after well... just look down at your keyboard. Additionally there are other keyboard layouts, like Dvorak.
Dvorak is designed to be optimized for writing English by positioning the most frequently used keys on the same row. </p>
{% endblock %}
