{% extends "blog/entry-template.html" %}

{% block content %}
<p>There is previous research on the improvements of learning through semantic word clusters. This means that when
you learn the word fear, you should also learn: afraid, scared, and um I can't think of any other related words.
Now this research was done for English, but I'm sure it also helps for other European languages. However, I don't
think it helps much for languages in the Sinosphere and here's why I think that.</p>
<p>When taking Chinese classes, or like when studying Chinese in general, one of the bottle necks is the speed at which
you can remember characters. Characters get re-used to make up new words. For example with the Japanese Language
Proficiency Test (JLPT), to pass it at the highest levels requires the knowledge of around 3,000 kanji (chinese characters)
and 10,000 vocabulary words. Clearly 3,000 is less than 10,000, although I'm not sure why I had to try to prove it.</p>
<p>Anyways, the point is that many learning resources will try to get the most use out of a character once they teach
it to you. This is in part due to more frequently used words already sharing characters, but also because
it's intentionally designed to balance new character acquisition with growing your vocabulary. What this means is that
you'll learn words like 常常 平常 and they will even introduce a character (in sense of a cast) called 常老师 in the same sentence just to
try to maximize the value out of 常. This means that you end up learning words that are close to being homographs but
not quite. As in, they share part of their "spelling" but not exactly. I've tried googling for the technical term but
I've been unsuccessful.</p>
<p>What this means is that when learning languages that have been influenced by Chinese, you should also take
this approach to learning words. For example with Vietnamese, I first accepted at face value that buồn means sad,
but then I was very confused when I found out that buồn cười means happy. It was not until a thousand words later
that I discovered that buồn ngủ means sleepy. And only then did I discover that buồn can be part with
a bunch of other verbs, and that just by default it means sad. I suppose looking in a dictionary for every other
apperance of buồn would have been helpful, but I foolishly blindly trusted my resources.</p>
<p>With another example, take liều. It can be translated to mean risk. But while watching Silicon Valley (HBO) I
discovered that liều lĩnh can be translated as reckless. Clearly there's some semantic connection between
risk and recklessness, but it's not as tight as the connection between afraid and scared. Opening up my trusty
copy of Tuttle's reveals linh to be an adjective for the supernaturally powerful, while linh cữu means coffin,
linh hồn means soul, and linh xa means hearse. Clearly there's some semantic connection between these words,
even though they're not synonyms</p>
<p>To wrap it up in case you're looking for a <b>tldr;</b> when learning languages influenced by Chinese, learn words that
are spelled somewhat similarly as they'll kinda be semantically related, but don't rush to learn synonyms for words.</p>
<p>I'm not saying that learning synonyms is bad. There's a phenomenon where a textbook doesn't show you any
synonyms so you can express a lot but when it comes to understanding native materials, because there are so many
synonyms, it ends up being incomprehensible for you.</p>
{% endblock %}
