{% extends "blog/entry-template.html" %}

{% block content %}
<p>As one of the very few people my friends know who are learning Vietnamese, I get this question asked on a regular
enough basis.</p>
<p>I believe that there are two kinds of learners. Those who will actually learn to at least B2 or C1, and then those
who will quit. If you believe you will quit, then go hit up Duolingo until you get bored of the language next Tuesday.</p>
<p>I'm going to be honest. Learning Vietnamese is not a good investment of your time. It's not really going to open
up any new job opportunities unless you're already handsome. There's a very small domestic entertainment industry so it doesn't
even have utility in the sense of being able to watch anime without subtitles. Online communities are limited to
facebook. There's no reddit or bilibili. Admittedly there's a large Vietnamese userbase on youtube. In short,
I do not recommend learning Vietnamese. I'm not saying it's a waste of your time, but I'm saying it's not a good use
of it.</p>
<p>If you still want to learn Vietnamese, then good for you. You are the right type of masochist who is prepared
to spend a hundred hours on pronounciation practice alone.</p>
<p>My advice: don't waste time. I'm not saying you have to plan your day around Vietnamese. I'm just saying
that when you are actually studying Vietnamese, you shouldn't waste your time. What this means is going against
99% of advice out there. Do not join Discord communities. Don't download Hellotalk. Don't talk to Vietnamese people
online. Do not talk to other learners. Do not watch youtube videos. <b>Do not even get a tutor or teacher.</b>.
There's no secret method to this. People have been learning second languages for thousands of years and new apps
are not going to change anything. The one exception is to try out Anki. It actually will save you time.</p>
<p>If you do have motivational or disclipline issues, interacting with others might be useful for keeping you
going forward. I've spent around a total of 15 months vacationing in Vietnam, so my motivation is to be independent whenever I'm
in the country.</p>
<p>Pick a solid textbook, and read and progress in it everyday. My favorite textbook is Elementary Vietnamese, as
a lot of it is explained in English which is perfect for someone self-studying. I must warn you that a lot of the passages
are very dry. But in its defense, studying a language is very very boring. Don't get me wrong, once you get to the level
where you can actually derive value from watching movies or TV, it will be fun. But first you need to grind out the first
2,000 vocab words to actually start to understand your surroundings, and you'll need to know 3,000 to 4,000 words to actually
fully start to understand conversations. <b>Do not try to practice with people</b>, because it's a waste of your time.
Either they will ignore the mistakes you're making because they're trying to get your confidence up, except now you're
getting accustomed to making those mistakes, or hey congrats you're actually practicing, except you're just practicing
very beginner stuff that's actually not worth your time. <b>Wait to build up your vocabulary,</b> and then learn how
to create sentences on your own. You can read, watch media, and understand the gist of what others are saying, but
trying to create output on your own before then is a big waste of time. I know it because I've done it. </p>
<p>Keep doing your Anki reviews. If you're not crying after having done 2 hours of reviews then you're not doing it right.</p>
{% endblock %}
